*-debug.log
*-error.log
/.nyc_output
/dist
/kyso-cli-installer.tgz
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules
oclif.manifest.json
.env
# Avoid uploading .npmrc-* & .npmrc.* files to git
/.npmrc-*
/.npmrc.*
kyso.yaml